.middle-panel {
  border: 1px solid black;
  border-radius: 15px;
}
.main-dashboard h1 {
  font-size: 20px;
}
.main-dashboard h2 {
  font-size: 20px;
}
.main-dashboard h3 {
  font-size: 17px;
  font-weight: normal;
}
.middle-panel div img {
  height: 100px;
  width: auto;
}
.home-button {
  margin: auto 0 auto 0;
  border: 1px solid #5c6ac4;
  background-color: #5c6ac4;
  color: white;
  transition: 0.5s ease-in-out;
}
.home-button:hover {
  background-color: rgb(1, 1, 161);
  color: white;
}

.contact-us h3 {
  color: black;
  border-bottom: 3px solid black;
}
.contact-us div {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: large;
}

.show-table {
  transition: 0.5s ease-in-out;
}
@media screen and (max-width: 768px) {
  .middle-panel {
    position: relative;
    overflow: hidden;
    height: 150px;
  }
  .middle-panel .item_c {
    position: relative;
    background-color: #fff;
  }
  .middle-panel img {
    width: 30vw;
    height: auto;
  }

  .c_container {
    width: 100%;
    position: absolute;
    max-height: fit-content;
    top: 50%;
    animation: carousal 10s linear infinite;
  }
}

@keyframes carousal {
  0% {
    top: 50%;
  }
  25% {
    top: -100%;
  }
  40% {
    top: -200%;
  }
  60% {
    top: -300%;
  }
  80% {
    top: -400%;
  }
  99% {
    top: -500%;
  }
  100% {
    top: -500%;
  }
}
