* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0 !important;
  padding: 0 !important;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}
h1 {
  font-size: 20px !important;
}
h2 {
  font-size: 18px !important;
}
h3 {
  font-size: 16px !important;
}
h4 {
  font-size: 14px !important;
}
p,
a,
input,
label,
button,
span {
  font-size: 16px !important;
}
button:disabled,
button:disabled:hover {
  background-color: #ddd !important;
  color: #1d1d1d;
  border: none;
  outline: none;
}
input {
  text-transform: capitalize;
}

.img-anime {
  animation: gradientAnimetion 3s forwards 0s infinite;
}
.spinner-grow {
  color: red !important;
}
@keyframes gradientAnimetion {
  from {
    transform: none;
  }
  to {
    transform: rotateX(360deg);
  }
}

.student-background {
  height: 100vh;
  width: 100vw;
  margin: 0 !important;
  padding: 0 !important;
  background: white;
  position: relative;
}

.main-menu {
  margin: 0;
  padding: 0;
  height: 90vh !important;
  overflow-y: scroll;
  overflow-x: hidden;
}
.main-menu::-webkit-scrollbar {
  width: 0.5vw;
}

.main-menu::-webkit-scrollbar-thumb {
  background: #5c6ac4;
  border-radius: 10px;
}
.schools {
  font-size: 14px;
}
.btn-color {
  background-color: #5c6ac4 !important;
  border-color: #5c6ac4 !important;
}
.btn-text-color {
  color: #5c6ac4 !important;
}
.border-color {
  border-bottom: 1px solid #5c6ac4 !important;
}
@media screen and (max-width: 576px) {
  .sm-w-100 {
    width: 100%;
  }
}
